Source: libgnustl-shared
Section: shells
Priority: optional
Maintainer: Dan Drown <dan-android@drown.org>
Package: libgnustl-shared
Version: ndk-r8b
Architecture: arm
Description: the shared library for C++ stl
